<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Crafters</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- Start of header container -->
	<div class="header container" style="padding: 20px">
		<div class="row">
			<div class="col-sm-3">
				<h2>Add a new Crafter</h2>
			</div>
			<div class="col-sm-3">
				<h4 th:inline="text">Signed in as
					[[${#httpServletRequest.remoteUser}]]</h4>
			</div>
			<div class="col -sm-3">
				<div class="dropdown">
					<button type="button" class="btn btn-primary dropdown-toggle"
						data-toggle="dropdown">Categories</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="products">Products</a> <a
							class="dropdown-item" href="crafters">Crafters</a> <a
							class="dropdown-item" sec:authorize="hasAuthority('ADMIN')"
							href="users">Users</a>
					</div>
				</div>


			</div>

			<div class="col-sm-3">
				<form th:action="@{logout}" method="post">
					<input type="submit" value="Sign Out" class="btn btn-danger" />
				</form>
			</div>

		</div>
	</div>
	<!-- End of header -->
	<form th:object="${crafter}" th:action="@{saveNewCrafter}" action="#"
		method="post">
		<div class="container">
			<table class="table table-striped">
				
				<tr>
					<td><label for="firstName">first name</label> <input
						type="text" id="firstName" th:field="*{firstName}" /></td>
					<td th:if="${#fields.hasErrors('firstName')}"
						th:error="*{firstName}"></td>
				</tr>
				<tr>
					<td><label for="lastName">last name</label> <input type="text"
						id="lastName" th:field="*{lastName}" /></td>
					<td th:if="${#fields.hasErrors('lastName')}" th:error="*{lastName}"></td>
				</tr>


			</table>
			<div>
				<input type="submit" class="btn btn-success" value="save Crafter"></input>
			</div>

		</div>
	</form>
</body>
</html>