<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Edit Crafter</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>


	<!-- Start of header container -->
	<div class="header container" style="padding: 20px">
		<div class="row">
			<div class="col-sm-3">
				<h2>Edit product</h2>
			</div>
			<div class="col-sm-3">
				<h4 th:inline="text">Signed in as
					[[${#httpServletRequest.remoteUser}]]</h4>
			</div>
			<div class="col -sm-3">
				<div class="dropdown">
					<button type="button" class="btn btn-primary dropdown-toggle"
						data-toggle="dropdown">Categories</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="products">Products</a> <a
							class="dropdown-item" href="crafters">Crafters</a> <a
							class="dropdown-item" sec:authorize="hasAuthority('ADMIN')"
							href="users">Users</a><a class="dropdown-item" href="/files">Files</a>
					</div>
				</div>


			</div>

			<div class="col-sm-3">
				<form th:action="@{logout}" method="post">
					<input type="submit" value="Sign Out" class="btn btn-danger" />
				</form>
			</div>

		</div>
	</div>
	<!-- End of header -->
	<form th:object="${product}" th:action="@{../save}" action="#"
		method="post">
		<div class="container">
			<table class="table table-striped">

				<tr>
					<td><label for="id">Id </label> <input type="text"
						th:field="*{id}" size=4 readonly /></td>
				</tr>

				<tr>
					<td><label for="name">Name</label> <input type="text"
						id="name" th:field="*{name}" /></td>
					<td th:if="${#fields.hasErrors('name')}" th:error="*{name}">
						must be 2-50 characters long</td>
				</tr>
				<tr>
					<td><label for="price">Price</label> <input type="text"
						th:field="*{price}" /></td>
					<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
						Error</td>
				</tr>
				<tr>
					<td><label for="crafterlist">Crafter</label> <select
						id="crafterlist" th:field="*{crafter}">
							<option th:each="crafter: ${crafters}" th:value="${crafter.id}"
								th:text="${crafter}"></option>
					</select></td>
					<td th:if="${#fields.hasErrors('crafter')}" th:errors="*{crafter}">
						Error</td>
				</tr>
				<tr>
					<td><input type="submit" class="btn btn-success" value="Save"></input>
					</td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>